<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
  </head>

  <body style="background-color: black;">
    <div stlye="display: grid; grid-template-columns:300px 900px 300px">
      <div></div>
     <div> {% include 'tablas.html' %} </div> 
      <div></div>
    </div>
  </body>
</html>
